/* MOSTLY IN ORDER OF PLACE ON SCREEN (TOP TO BOTTOM): */

html {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: url('../images/moon-bg.jpg') no-repeat fixed top;
    background-size: cover;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.6rem;
    padding: 1.6rem;
    padding-bottom: 20px;
}

header h1 {
    font-size: 4.2rem;
    font-weight: 700;
    background-color: black;
    color: yellow;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    border-bottom: 5px solid #0a0406;
}

header h1 span{
    font-style: italic;
}

main {
    width: 960px;
    margin: 0 auto;
    background-color: rgba(96, 216, 116, 0.85);
    border-left: 5px solid rgba(0,0,0,0.75);
    border-right: 5px solid rgba(0,0,0,0.75);
    border-bottom: 5px solid rgba(0,0,0,0.75);

}

.game-content {
    z-index: 5;
}

/* INTERACTIVE CHARACTER ROWS */

.row-container {
    min-width: 875px; /*20px outer margins, 10px inner margins, 200px pictures(x4) = 870px*/
    height: 220px; /*player cards will be 140h 20hCAPTION 20hCHAR-NAME 20hPADDING */
    background-color: rgba(0,0,0,0.05);
}

.top-row, .middle-row, .bottom-row {
    margin: 0 auto;
    width: 860px;
    height: 205px;
    padding: 10px;
}

/*PLAYER CARDS */
.player-card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid blanchedalmond;
    background-color: #9E9F9F;
    border-radius: 5px;
}

.player {
    background-color: green;
}

.enemy {
    background-color: red;
}

.defender {
    background-color: darkred;
}

.char-name {
    position: relative;
    left: 0;
    top: 0;
    height: 17.5px;
    width: 200px;
    padding: 2.5px;
    font-size: 1.75rem;
    text-align: center;
    opacity: 0.85;
}

.hp-yoda, .hp-leia, .hp-anakin, .hp-sheev {
    padding-top: 7.5px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 20px;
}

main img {
    width: 200px;
    border-radius: 5px;
}

.removed {
    display: none;
}

.invisible {
    visibility: hidden;
}

.title-row {
    height: 50px;
    justify-content: space-between;
}

h2 #current-defender {
    flex: 20%;
}

.attack {
    width: 150px;
    position: relative;
    left: 325px;
    bottom: 45px;
    margin-right: 10px;
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
}

.attack:active {
    box-shadow: 2px 2px 2px rgba(188, 71, 204, 0.363);
}

.attack:hover {
    font-weight: 600;
    box-shadow: -2.5px -2.5px 5px rgba(139, 0, 0, 0.466);
}

.captions {
    position: relative;
    left: 325px;
    bottom: 200px;
}

.commentary-box {
    border-radius: 5px;
    width: 450px;
}

.restart {
    transition: all 0.5s;
    opacity: 1;
    color: white;
    z-index: 30; 
}

.restart-hidden {
    opacity: 0;
    color: none;
    transition: all 1s;
}

.restart:hover {
    color: yellow;
    transition: all 1s;
}