html {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('../images/stars-bg.jpg');
}

h1 {
    font-size: 6rem;
}

h1 span{
    font-style: italic;
}

h2 {
    display: inline-block;
    font-size: 3.2rem;
    padding: 1.6rem;
}

header h1 {
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    border-bottom: 5px solid #862800;
}

main {
    width: 960px;
    margin: 0 auto;
    background-color: rgb(10,147,175);
}

.game-content {
    z-index: 5;
}

/* INTERACTIVE CHARACTER ROWS */

.row-container {
    /* max-width: 960px; */
    min-width: 875px; /*20px outer margins, 10px inner margins, 200px pictures(x4) = 870px*/
    height: 220px; /*player cards will be 140h 20hCAPTION 20hCHAR-NAME 20hPADDING */
    background-color: rgba(0,0,0,0.05);
}

.top-row, .middle-row, .bottom-row {
    margin: 0 auto;
    width: 860px;
    height: 205px;
    padding: 10px;
    /* margin: 10px 20px 10px 20px; */
    /* border: 2px dashed darkmagenta; */
}

/*PLAYER CARDS */
.player-card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid blanchedalmond;
    background-color: #9E9F9F;
    border-radius: 5px;
}

.player {
    background-color: green;
}

.enemy {
    background-color: red;
}

.defender {
    background-color: darkred;
}

.removed {
    display: none;
}

.invisible {
    visibility: hidden;
}

main img {
    width: 200px;
    border-radius: 5px;
}

.char-name {
    position: relative;
    left: 0;
    top: 0;
    height: 17.5px;
    width: 200px;
    padding: 2.5px;
    font-size: 1.75rem;
    text-align: center;
    opacity: 0.85;
}

.hp-yoda, .hp-leia, .hp-anakin, .hp-sheev {
    padding-top: 7.5px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 20px;
}

.commentary-box {
    display: inline-block;
    margin-left: 20px;
}
